@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
header {
  min-height: 100vh;
  background: url(./assets/images/header-img.png) center/cover no-repeat;
  background-size: auto;
}
nav {
  background: #fff;
  padding: 16px 24px;
  z-index: 99999;
}
ul {
  list-style-type: none;
}
img {
  width: 100%;
}
h1 {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.nav-header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-logo {
  width: 50px;
  height: 50px;
}
.title {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #2b3252;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.nav-search {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header-search-inp {
  border: none;
  border-bottom: 1px solid #eaecf0;
  padding-bottom: 11px;
}
.header-search-inp::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2b3252;
}
.header-search-inp:focus {
  outline: none;
}
.search-icon {
  width: 16px;
  height: 16px;
  top: 0;
  right: 50%;
  transform: translate(-100%, -40%);
}
.search-hidden {
  display: none;
}
.nav-toggle {
  font-size: 24px;
  color: hsl(209, 61%, 16%);
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.links a {
  background: #fff;
  color: #2b3252;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  letter-spacing: 4px;
  display: block;
  transition: all 0.3s linear;
  padding: 12px 0;
  text-decoration: none;
}
.links a:hover {
  color: #ef5555;
}
.links a:after {
  content: "";
  background-color: #ef5555;
  height: 2px;
  width: 0;
  margin: auto;
  display: block;
}
.links a:hover:after {
  width: 100%;
  transition: width 0.3s linear;
}
/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.banner {
  min-height: 100vh;
  display: grid;
  place-items: left;
  text-align: left;
  padding-left: 10px;
}
.container {
  margin-top: 311px;
}
.container p {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.7;
  margin-top: 15px;
}
.btn {
  width: 130px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  background: transparent;
  text-decoration: none;
  color: #222;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  transition: all 0.3s linear;
  padding: 10px;
}
.btn:hover {
  color: #fff;
  background: #222;
}
.btn-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  color: #ffffff;
}
.services-title {
  margin-top: 84px;
}
.services-title h2 {
  font-weight: 700;
  font-size: 35px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.services-container {
  margin-top: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box {
  margin-bottom: 20px;
  transition: all 0.4s;
}
.box:hover {
  transform: translateY(-1.2rem);
}
.box img {
  width: 150px;
  margin-bottom: 38px;
}
.about-container {
  margin-top: 100px;
}
.about-content {
  margin-top: 30px;
  padding: 12px;
}
.about-content h3 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #000000;
}
.about-content p {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #2b3252;
  margin-top: 25px;
}
.about-content a {
  width: 130px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  background: transparent;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #ef5555;
  border-radius: 8px;
  transition: all 0.3s linear;
  padding: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  color: #ef5555;
}
.about-content a:hover {
  color: #fff;
  background: #222;
}
.about-img {
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-img-container {
  position: relative;
}
.background-img {
  width: 95%;
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translate(50%, -97%);
  z-index: -1;
  background: #fff;
}
#contact {
  margin-top: 100px;
  background-color: #2b3252;
  padding: 20px;
}
.footer-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}
.footer-about-container {
  margin-left: auto;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 36px;
}
.footer-logo {
  width: 40px;
  height: 40px;
}
.footer-title {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-info {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.7;
}
.footer-about {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.footer-link-first,
.footer-link-second {
  display: flex;
  justify-content: left;
  column-gap: 10px;
}

.footer-links {
  text-decoration: none;
  font-weight: 700;
  color: #ffffff;
}
.social-icons {
  margin-top: 25px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.inputs {
  margin-top: 20px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.name,
.email {
  width: 100%;
  height: 42px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  background: #2b3252;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  opacity: 0.7;
  padding-left: 5px;
  padding-left: 20px;
}
.name:focus,
.email:focus,
.textarea:focus {
  outline: none;
}
.name::placeholder,
.email::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  opacity: 0.7;
  /* padding-left: 20px; */
}
.textarea-containter {
  margin-top: 10px;
  position: relative;
}
.textarea {
  width: 100%;
  height: 120px;
  background: #2b3252;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  opacity: 0.7;
  padding: 14px 0 0 20px;
}
.textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  opacity: 0.7;
}
.footer-btn {
  border: none;
  cursor: pointer;
  background: #ef5555;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  border-radius: 8px;
  padding: 10px 18px;
  position: absolute;
  top: 40px;
  right: 50px;
  transform: translate(50%, 50%);
}
#projects {
  overflow: hidden;
}
.projects-container {
  background-color: #f8f8fa;
  margin-top: 100px;
  padding-top: 87px;
  padding-bottom: 155px;
  z-index: 1;
  position: relative;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 87px;
}
.arrows {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.arrow {
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s linear;
  opacity: 0.2;
}
.arrow:hover {
  opacity: 1;
}
.news-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
}
.images-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  overflow-x: hidden;
  position: relative;
  left: 0;
  top: 0;
  padding-left: 20px;
  overflow-y: hidden;
}
.image-wrapper {
  position: relative;
  min-width: 337px;
  height: 100%;
}
.news-image {
  width: 100%;
  height: 100%;
}
.image-wrapper:nth-child(1)::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 60%);
  width: 95%;
  height: 40px;
  background-color: #ef5555;
  z-index: -1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background: linear-gradient(
    205.96deg,
    rgba(67, 26, 26, 0) -7.14%,
    #431a1a 121.86%
  );
}
.overlay-content {
  position: absolute;
  bottom: 10%;
  left: 10px;
}
.overlay-content h4 {
  font-weight: 700;
  font-size: 34px;
  line-height: 35px;
  color: #ffffff;
  margin-bottom: 20px;
}
.overlay-content span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  opacity: 0.8;
}
@media screen and (min-width: 590px) {
  .background-img {
    max-width: 570px;
  }
  .footer-about {
    flex-direction: row;
  }
}
@media screen and (min-width: 689px) {
  .banner {
    padding-left: 50px;
  }
  .services-container {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
  }
  .about-content {
    padding: 50px;
  }
  #contact {
    padding: 60px;
  }
  .social-icons {
    margin-top: 45px;
  }
  .textarea-containter {
    margin-top: 20px;
  }
}
@media screen and (min-width: 899px) {
  h1 {
    width: 736px;
    font-size: 62px;
    line-height: 76px;
  }
  .container p {
    width: 736px;
    font-size: 16px;
    line-height: 160%;
    margin-top: 20px;
  }
  .btn {
    margin-top: 37px;
  }
  .about-content {
    padding: 100px;
  }
  .about-content p {
    font-size: 20px;
    line-height: 160%;
    margin-top: 37px;
  }
  .about-content a {
    margin-top: 47px;
  }
  .services-container {
    padding: 0 100px;
  }
  .services-title h2 {
    font-size: 40px;
    line-height: 49px;
  }
  #contact {
    padding: 80px 100px 68px 100px;
  }
  .footer-link-first,
  .footer-link-second {
    column-gap: 20px;
  }
  .footer-about {
    gap: 20px;
  }
  .contact-container {
    max-width: 680px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .search-hidden {
    display: block;
  }
  .search-nav {
    display: none;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .nav-center {
    width: 100vw;
    max-width: 1420px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .links a {
    margin: 0 10px;
    letter-spacing: 0;
  }
  .search-icon {
    transform: translate(-140%, 10%);
  }
  .header-logo,
  .footer-logo {
    width: 61px;
    height: 68px;
  }
  .title,
  .footer-title {
    font-size: 22px;
    line-height: 27px;
  }
  .services-container {
    padding: 0 150px;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contact-container {
    width: 50%;
  }
  .footer-about-container {
    margin: 0 auto;
  }
  .social-icons {
    margin-top: 65px;
  }
  .links a {
    margin: 0 20px;
  }
  .section-center {
    width: 95vw;
  }
  .nav-header {
    padding: 0;
  }
  .banner {
    margin-top: -50px;
  }
}
@media screen and (min-width: 1420px) {
  .services-container {
    padding: 0 200px;
  }
  .header-container {
    padding: 0 170px;
  }
  .about-content {
    padding: 150px;
  }
  .images-container {
    left: 150px;
  }
}
@media screen and (min-width: 1699px) {
  .banner {
    padding-left: 250px;
  }
  .links a {
    margin: 0 40px;
  }
}
@media screen and (min-width: 1860px) {
  .services-container {
    padding: 0 250px;
  }
  .about-container {
    margin-top: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 90px;
    padding: 0 250px;
  }
  .about-content h3 {
    text-align: left;
  }
  .background-img {
    width: 100%;
    top: 100%;
    right: 50%;
    transform: translate(50%, -97%);
  }
  .about-content {
    padding: 0;
  }
  .about-img {
    width: 590px;
    margin: 0;
  }
  #contact {
    padding: 80px 250px 68px 250px;
  }
  .header-container {
    padding: 0 250px;
  }
  .images-container {
    left: 230px;
  }
  .overlay {
    height: 99.2%;
  }
  .news-title {
    font-size: 40px;
    line-height: 49px;
  }
  .overlay-content {
    padding-left: 40px;
    padding-right: 40px;
  }
  .overlay-content h4 {
    font-size: 34px;
    line-height: 41px;
  }
}
