@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
header {
  min-height: 100vh;
  background: url(./assets/images/header-img.png) center/cover no-repeat;
  background-size: auto;
}
nav {
  background: #fff;
  padding: 16px 24px;
}
ul {
  list-style-type: none;
}
img {
  width: 100%;
}
h1 {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.nav-header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-logo {
  width: 50px;
  height: 50px;
}
.title {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #2b3252;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.nav-search {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header-search-inp {
  border: none;
  border-bottom: 1px solid #eaecf0;
  padding-bottom: 11px;
}
.header-search-inp::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2b3252;
}
.header-search-inp:focus {
  outline: none;
}
.search-icon {
  width: 16px;
  height: 16px;
  top: 0;
  right: 50%;
  transform: translate(-100%, -40%);
}
.nav-toggle {
  font-size: 24px;
  color: hsl(209, 61%, 16%);
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.links a {
  background: #fff;
  color: #2b3252;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  letter-spacing: 4px;
  display: block;
  transition: all 0.3s linear;
  padding: 12px 0;
  text-decoration: none;
}
/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.banner {
  min-height: 100vh;
  display: grid;
  place-items: left;
  text-align: left;
  padding-left: 10px;
}
.container {
  margin-top: 311px;
}
.container p {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.7;
  margin-top: 15px;
}
.btn {
  width: 130px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  background: transparent;
  text-decoration: none;
  color: #222;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  transition: all 0.3s linear;
  padding: 10px;
}
.btn:hover {
  color: #fff;
  background: #222;
}
.btn-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  color: #ffffff;
}
#services {
  margin-top: 84px;
}
.services-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.services-container {
  margin-top: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box {
  margin-bottom: 20px;
}
.box img {
  width: 150px;
  margin-bottom: 38px;
}
